body {
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    background: #B3ddf2;
    padding: 10px 0 25px 0;
    border-radius: 15px;
}

.table-header {
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.table-row {
    height: 3rem;
}

.table-header>div,
.table-row>div {
    display:inline-block;
    margin: 0 1rem;
}

.table-row:nth-child(2n+1) {
    background-color: #FFF;
}

.table-row:nth-child(2n) {
    background-color: #F8F8F8;
}

.table-cell {
    position: relative;
    height: 100%;
}

.table-cell>* {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}