:root {
    color-scheme: dark;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.table {
    background: #222;
    color: white;
    padding: 10px 0 25px 0;
    border-radius: 15px;
}

.table-header {
    padding-bottom: 0.5rem;
    font-weight: bold;
    color: #CCC;
}

.table-row {
    height: 3rem;
}

.table-header>div,
.table-row>div {
    display:inline-block;
    margin-left: 1rem;
}

.table-row:nth-child(2n+1) {
    background-color: #282828;
}

.table-row:nth-child(2n) {
    background-color: #333;
}

.table-cell {
    position: relative;
    height: 100%;
}

.table-cell>* {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.data-label {
    font-size:0.75rem;
}